<%= stylesheet_link_tag "edit_style" %>
<h1><%= @file.name -%></h1>
<div id="post_status" style="height: 20px; display:block;">   </div>

<div id="description">
	<p>※ vim キーバインドです！<S>emacs?何それおいしいの?</S></p>
	<p>Macなら<strong>Command-s</strong>, Windowsなら<strong>Ctrl-s</strong>で保存</p>
</div>
<%= link_to "一覧に戻る", :action => "index" -%>

<% if File.readable? @file.path %>
	<div id="editor-div"><%= File.open(@file.path, "r").read -%></div>

	<% @ext = @file.name.split(".")[-1] %>

<% else %>
	<p>This is not file!</p>
<% end %>


<%= javascript_tag do%>
	var editor = ace.edit("editor-div");
	window.onload = function() {
		editor.setTheme("ace/theme/twilight");
		editor.setKeyboardHandler("ace/keyboard/vim");
		editor.getSession().setMode("ace/mode/<%= @ext %>");
		editor.focus();

		editor.commands.addCommand({
			Name: "savefile",
			bindKey: {
				win: "Ctrl-S",
				mac: "Command-S"
			},
			exec: function(editor) {
				$.ajax({
					url: '/editor/save/<%= @file.id.to_s -%>',
					type: 'post',
					data: {body: editor.getSession().getValue()},
					success: function() {
						$("#post_status").css("display", "block");
						$("#post_status").css("height", "20px");
						$("#post_status").html("保存しました").fadeOut("2000000").queue(function() {
							$("#post_status").css("display", "block").dequeue();
							$("#post_status").html("		").dequeue();
							});
						$("#post_status").css("height", "20px");
					}
				});
			}
		});
	};

<% end %>
