<h1>Edit <%= @file.name -%></h1>

<p>※ vim キーバインドです！<S>emacs?何それおいしいの?</S></p>
<p>Macなら<strong>Command-s</strong>, Windowsなら<strong>Ctrl-s</strong>で保存</p>
	<div id="post_status"></div>

<% if File.readable? @file.path %>
	<div id="editor-div" style="height: 500px; width: 500px"><%= File.open(@file.path, "r").read -%></div>

	<% @ext = @file.name.split(".")[-1] %>

<% else %>
	<p>This is not file!</p>
<% end %>

<%= link_to "一覧に戻る", "/editor/index" -%>

<%= javascript_tag do%>
	window.onload = function() {
		var editor = ace.edit("editor-div");
		editor.setTheme("ace/theme/twilight");
		editor.setKeyboardHandler("ace/keyboard/vim");
		editor.getSession().setMode("ace/mode/<%= @ext %>");
		editor.focus();

		function set_message(message) {
			$("#post_status").html(message).fadeIn("10000");
		}
			

		editor.commands.addCommand({
			Name: "savefile",
			bindKey: {
				win: "Ctrl-S",
				mac: "Command-S"
			},
			exec: function(editor) {
				$.ajax({
					url: '/editor/save/<%= @file.id.to_s -%>',
					type: 'post',
					data: {body: editor.getSession().getValue()}
				});
			}
		});
	};

<% end %>
