<h1>Editor#index</h1>
<p>Find me in app/views/editor/index.html.erb</p>

<table border="0">
  <tr>
  </tr>
<% @file_stats.each do |file| %>
  <tr>
    <td><%= file.id %></td>
    <td><%= file.name %></td>
    <td><%= file.path %></td>
    <td><%= file.user_id %></td>
    <td><%= link_to "edit" , :action=>"edit" , :id=> file.id =%></td>
  </tr>
<% end %>
</table>
<br>
<br>
<b><%= link_to "CREATE" , :action=>"new" =%></b>
<br>
<br>
<b><%= link_to "LOG OUT" , session_path,  :confirm=>"LOG OUT OK?" , :method=>:delete =%></b>

